@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contiener {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1440px;
}
header {
  z-index: 999;
  position: sticky;
  background-color: black;
  top: 0px;
}
a:hover {
  color: #0d99f8;
}
.bg1 {
  background-image: url("../src//assets//brat.png");
  background-position: center;
  background-size: cover;
  padding: 150px;
  margin-top: 40px;
}



